<h1>Card #<%= @card.id %></h1>

<%= link_to 'Back to All cards', cards_path %><br>
<%= link_to 'Edit Card', edit_card_path(@card) %><br>
<%= link_to "Delete Card", card_path(@card), method: :delete, data: {confirm: "Are you sure?"} %><br>

<p>Original Text: <%= @card.original_text %> </p>
<p>Translated Text: <%= @card.translated_text %> </p>
<p>Next Review Date: <%= @card.review_date %> </p>
